@font-face {
  font-family: "Pompiere-Regular";
  src: url("./utils/font/Pompiere-Regular.woff2") format("woff2"),
    url(./utils/font/Pompiere-Regular.woff) format("woff"),
    url(./utils/font/Pompiere-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background: #709fb0;
  font-family: "Pompiere-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
